################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/master-api-dotnet 6/FileContentIndex/280d1cbb-dd6c-43ae-9b45-89c075249bea.vsidx
/.vs/master-api-dotnet 6/FileContentIndex
